<div class="content">
    <div class="left-column">
        <img src="lewy.png" alt="Robert Lewandowski" />
    </div>
    <div class="right-column">
        <h2>Robercik</h2>
        <p>
            polski piłkarz, występujący na pozycji środkowego napastnika w hiszpańskim klubie FC Barcelona oraz w reprezentacji Polski, której jest kapitanem. Uważany za jednego z najlepszych piłkarzy swojego pokolenia na świecie i jednego z najlepszych środkowych napastników w historii piłki nożnej.
        </p>
        <h2>Statystyki</h2>
        <p>
            Robert w sezonie 2024/25 licząc Ligę Mistrzów, LaLigę oraz Superpuchar Hiszpanii zdobył 35 bramek i 3 asysty w 40 meczach
        </p>
        <h2>Kariera w reprezentacji</h2>
        <p>
            Od 2008 występuje w reprezentacji Polski w piłce nożnej, od 2014 jest kapitanem drużyny narodowej. Jest członkiem Klubu Wybitnego Reprezentanta, rekordzistą pod względem liczby występów w reprezentacji Polski i jej najlepszym strzelcem w historii, wybranym do najlepszej drużyny stulecia Polskiego Związku Piłki Nożnej. Z dorobkiem 85 goli jest jednym z najlepszych strzelców w historii reprezentacji narodowych. Z reprezentacją Polski w piłce nożnej wystąpił na Mistrzostwach Świata 2018 i 2022, a także Mistrzostwach Europy 2012, 2016, 2020 i 2024. Jest jedynym polskim piłkarzem, który zdobywał bramki podczas trzech turniejów finałowych mistrzostw Europy.
        </p>
    </div>
</div>
