@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <link href="css/style.css" rel="stylesheet" />
    <title>FC Barcelona</title>
    <base href="/" />
</head>
<body>
    <div class="main">
        @Body
    </div>
</body>
</html>
